
.WideLeft {
}
.WideLeft .ui.vertical.icon .teamlogomenuitem {
  background-color: rgba(45,104,196,0.01); /*trueblue: #2d68c4;*/
}
.WideLeft .ui.vertical.icon .teamlogomenuitem .logotext {
  font-size: 80%;
  background-color: #2d68c4;
  color: white;
  border-radius: 4px;
  padding: 3px;
  white-space: nowrap;
  transform: translate(-25px,10px);
  position: absolute;
}
